	/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
	*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	/** end reset css**/
	body {
		max-width: 1140px;
		margin:auto;
		font-family: 'Work Sans' ;
		font-size: 14px;
	}
	header {
		display: flex;
		justify-content: space-between;
		margin: 50px 0
	}
	section {
		margin: 50px 0
	}

	h1{
		display: flex;
		flex-direction: column;
		font-family: 'Syne';
		font-size: 22px;
		font-weight: 800;
		color: #B1663C
	}

	h1 > span {
		font-family: 'Work Sans';
		font-size:10px;
		letter-spacing: 0.1em;
	;
	}

	h2{
		font-family: 'Syne';
		font-weight: 700;
		font-size: 30px;
		color: #1D6154
	}
	nav ul {
		display: flex;
		align-items: center;
		list-style-type: none;

	}
	nav li {
		padding: 0 10px;
		font-size: 1.2em;
	}

	li:hover {
		color: #B1663C;
	}
	#introduction {
		display: flex;
		align-items: center;
	}
	#introduction figure {
		flex: 1
	}
	#introduction img {
		display: block;
		margin: auto;
		width: 80%;
	}

	#introduction article {
		flex: 1
	}
	#introduction h2 {
		margin-bottom: 1em;
	}

	#introduction p {
		margin-bottom: 0.5em;
	}
	#portfolio h2 {
		text-align: center;
		margin-bottom: 1em;
	}
	.gallery {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.gallery img {
		width: 100%;

	}
	#contact {
		width: 50%;
	margin: auto;
	}
	#contact > * {
		text-align: center;

	}
	#contact h2{
		margin-bottom: 20px;
	}
	#contact form {
		text-align: left;
		margin-top:30px;
		display: flex;
		flex-direction: column;
	}

	#contact input {
		height: 50px;
		font-size: 1.2em;
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}
	#contact label {
		margin: 2em 0 1em 0;
	}
	#contact textarea {
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}

	input[type="submit"]{
		font-family: 'Syne';
		font-weight: 700;
		color: white;
		background-color: #1D6154;
		margin : 2em auto ;
		width: 180px;
		text-align: center;
		border-radius: 60px ;
	}

	footer nav ul {
		display: flex;
		justify-content: flex-end;
		margin: 2em
	}

 

	/*partie rajouté pour ex */
#login, #logout {
  cursor: pointer;
}

/* bare login  */
	#barelogin {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px; 
	font-family: Arial, sans-serif;
	font-size: 16px;
	z-index: 9999;
	}

	#barelogin img {
	height: 24px;
	object-fit: contain;
	display: block;
	}

	#barelogin p {
	margin: 0;
	color: white; 
	}
		
	#barelogin i {
	margin-right: 5px;
	}
/* filtre bouttons  */

	#filtres { 
	display: flex;
	justify-content: center;  
	gap: 12px;               
	margin: 20px 0;          
	}

	#filtres button {
	padding: 8px 16px;
	border: 2px solid  #1D6154;
	border-radius: 12px;
	background-color: white;
	color:  #1D6154;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	}

	#filtres button:hover {
	background-color:  #1D6154;
	color: white;
	}

/* 
page login */
	#login {
		width: 50%;
	margin: auto;
	}
	#login > * {
		text-align: center;

	}
	#login h2{
		margin-bottom: 20px;
	}
	#login form {
		text-align: left;
		margin-top:30px;
		display: flex;
		flex-direction: column;
	}

	#login input {
		height: 50px;
		font-size: 1.2em;
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}
	#login label {
		margin: 2em 0 1em 0;
	}
	#login textarea {
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}

	input[type="submit"]{
		font-family: 'Syne';
		font-weight: 700;
		color: white;
		background-color: #1D6154;
		margin : 2em auto ;
		width: 180px;
		text-align: center;
		border-radius: 60px ;
	}

	#oublie  {
		text-decoration: underline;
		color: #1D6154;
		text-align: center;

	}


	/* style des modals */


	.entete {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: center;
	margin-bottom: 1em;
	}

	.modifier-btn {
	display: flex;
	align-items: center;
	gap: 6px;
	background: none;
	border: none;
	color: rgb(13, 12, 12);
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	text-transform: none;
	}

	.modifier-btn .icon-pencil {
	width: 16px;
	height: 16px;
	display: inline-block;
	}

	.invisible-link {
	display: none;
	}

	.gallery figure {
	position: relative;
	}

	.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(161, 155, 155, 0.6);
	display: none;
	align-items: center;
	justify-content: center;
	}

	#modal-page1, #modal-page2  {
	text-align: center;
	overflow: auto;
	width: 800px;
	height: 500px;
	padding: 20px;
	margin: auto;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}

	#modal-page2 {
	position: relative;
	}

.titre {
  color: #555555;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  user-select: none;
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  margin: 30px auto 12px auto;
  padding: 10px 20px;
  border-radius: 6px;
  max-width: fit-content;
}


/* modal page 1 */
	.gallery-modal {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	max-width: 100%;
	overflow-y: auto;
	padding: 10px;
	}

	.gallery-modal figure {
	flex: 1 1 150px;
	max-width: 200px;
	margin: 0 10px 20px 10px;
	position: relative;
	}

	.gallery-modal img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	object-fit: contain;
	}

	#ajouterphoto {
	background-color:  #1D6154;
	color: white;
	border: none;
	padding: 12px 20px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin-top: auto;
	align-self: center;
	}


	.delete-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	outline: none;
	z-index: 10;
	}

	.delete-btn img {
	width: 20px;
	height: 20px;
	}

#modal-page1 .blokimagemodal {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  overflow-y: auto;
  max-height: 70vh;
  box-sizing: border-box;
}

#modal-page1 .gallery-modal {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

#modal-page1 .gallery-modal figure {
  flex: 0 1 calc(25% - 12px);
  margin: 0;
}

#modal-page1 .gallery-modal img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}

#modal-page1 #ajouterphoto {
  margin-bottom: 20px;
}

/* modal page 2  */

.uplaod-section {
  background-color: gray;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.uplaod-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uplaod-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.upload-button {
  background-color: #e0e6ed;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #d0d8e0;
}

.file-info {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

.form-section label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.form-section input,
.form-section select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


#modal-page2 .separator {
  width: 100%;
  max-width: 300px;
  height: 2px;
  background-color: grey;    
  margin: 20px 0;
  border-radius: 50px;        
  opacity: 0.6;              

}


.validate-button {
  width: 120%;              
  background-color: #c0c0c0;
  border: none;
  padding: 12px;
  margin-top: 20px;
  border-radius: 50px;      
  font-size: 16px;
  cursor: pointer;
}


.validate-button:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6;
}

.validate-button:enabled {
  background-color:  #1D6154
  opacity 1;
}

.modal-back {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  z-index: 10;
}
.upload-box {
  position: relative;
  width: 300px;
  max-width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 20px auto;      
  align-self: center;
  background-color: rgb(201, 219, 219);
  padding: 20px;          
  border-radius: 8px;     
  text-align: center;     
  color: white;           
}

.upload-box img#previewImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.upload-box button#addphotobtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px; 
  cursor: pointer;
  
}

.upload-box.has-image button#addphotobtn {
  opacity: 0;
  pointer-events: none;
}

#fileInput {
  display: none;
}


.upload-box i.fa-image {
  font-size: 64px;          
  margin-bottom: 15px;      
  display: block;           
  color: rgb(115, 138, 117);       
}

.upload-box i.fa-image:hover {
  transform: scale(1.2);    
}


.upload-box .file-info {
  color: rgb(0, 0, 0);
  margin-top: 8px; 
  font-size: 14px;
 margin-top: 80px;
}


#modal-page2 form {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  margin: 0 auto;
}

/* Champs texte et select */

#modal-page2 input[type="text"],
#modal-page2 select {
  width: 300px;
  max-width: 90vw;
  box-sizing: border-box;
  margin-bottom: 15px; 
}


#modal-page2 input[type="submit"] {
  width: 180px;
  max-width: 90vw;
  box-sizing: border-box;
  margin-top: 15px; 
}


#photomodal {
  margin-bottom: 20px; 
}

/* Style de la ligne verte (séparateur) */

.separator {
  width: 80%;
  margin: 0 auto 20px auto;
  height: 2px;
  background-color: #1D6154;
}


#modal-page2 {
  position: relative; 
}


nav ul li a {
  color: inherit;       
  text-decoration: none; 
  cursor: text;          
}


/* position de la fleche et de la croix de la modal  */

.formp2 {
  display: block;
  text-align: left;
  margin-left: 0;
}
/* Assure-toi que le parent est en position relative */
#modal-page2 {
  position: relative;
}

/* Conteneur des boutons */
.tetemodal {
  
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  
}

#sortiep1 {
  margin-left: 50px; 
  cursor: pointer;   
}





.formp2 {
  display: block;
  text-align: left;
  margin: 1em 0 0.3em;
  font-weight: 500;
  color: #333;
}